@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --absher-green: #16a34a;
  --absher-dark: #072f13;
}

html, body, #root { height: 100%; }

body {
  margin: 0;
  font-family: 'Noto Sans Arabic', system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg,#f6fbfb,#f1f7f6);
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
